@model SlimeWeb.Core.Data.ViewModels.ViewPost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl >
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Published)
        </dd>
    </dl>
    <div class="righpanel">
    <dl  >
        <dt> @*class="col-sm-2">*@
            @Html.DisplayNameFor(model => model.Author)
            <br/>
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.Author.DisplayName)
        </dd>
          <dt class="col">
            

            @Html.DisplayNameFor(model => model.Categories)
                @*<br />*@
                </dt>
                <dd>
            @{
                var Categories = Model.Categories;
                if (Categories != null)
                {
                    foreach (var cat in Categories)
                    {
                        <a asp-action="ByCategory" 
                        asp-route-id="@Model.Blog.Name"
                        asp-route-categoryname="@cat.Name">@cat.Name</a> 
                    }

                }


            }
        </dd>
        <dt class="col">
            @Html.DisplayNameFor(model => model.Tags)
            </dt>
            <dd >
            @{
                var Tags = Model.Tags;
                if (Tags != null)
                {
                    foreach (var tag in Tags)
                    {
                        <a asp-action="ByTag" 
                        asp-route-id="@Model.Blog.Name" 
                        asp-route-tagname="@tag.Name">@tag.Name</a>
                    }

                }


            }
        </dd>
        </div>
        
        @*<div class="article">*@
    @*<dl >*@
      
            
            @Html.Raw(Model.HTMLcontent)
        
      
 
    @*</dl>*@
    @*</div>*@
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-blogname="@Model.Blog.Name">Edit</a> |
    <a asp-action="Index" asp-route-id="@Model.Blog.Name">Back to List</a>
</div>
