@using ExtCore.Infrastructure;
@using SlimeWeb.Core.SDK;
@using SlimeWeb.Core.Tools;
@using SlimeWeb.Core.Managers;
@{
    ViewData["Title"] = "About Software";
}

<h1>@ViewData["Title"]</h1>

<div>

    <dl class="row">
        <dt class="col-sm-2">
            
            Application Name: 
        </dt>
        <dd class="col-sm-10">
           Slime Web
        </dd>
        <dt class="col-sm-2">
            Application Version:
        </dt>
        <dd class="col-sm-10">
            @CommonTools.GetSlimeWebVersion()
        </dd>
        <dt class="col-sm-2">
            Company:
        </dt>
        <dd class="col-sm-10">
            @CommonTools.GetSlimeWebDeveloper()
        </dd>
        <dt class="col-sm-2">
            Copyright:
        </dt>
        <dd class="col-sm-10">
            @CommonTools.GetSlimeWebCopyright()
        </dd>
         <dt class="col-sm-3">
            Source Code Repository:
        </dt>
        <dd class="col-sm-9">
            <a href="https://github.com/angaratosurion/SlimeWeb" target="_blank">SlimeWeb GitHub</a>
        </dd>
        <dt class="col-sm-3">
            Last Modified UTC:
        </dt>
        <dd class="col-sm-9">
            @CommonTools.GetSlimeWebLastModifiedDateUTC()
        </dd>
        </dd>
        <dt class="col-sm-3">
            MD5 hash :
        </dt>
        <dd class="col-sm-9">
            @CommonTools.GetSlimeWebMD5Hash()
        </dd>
    </dl>
    <hr/>
    <dl class="row">
        <dt class="col-sm-3">

            Application Core Name: 
        </dt>
        <dd class="col-sm-9">
           Slime Web Core 
        </dd>
        <dt class="col-sm-3">
            Application Core Version:
        </dt>
        <dd class="col-sm-9">
            @CommonTools.GetSlimeWebCoreVersion()
        </dd>
        <dt class="col-sm-3">
            Company:
        </dt>
        <dd class="col-sm-9">
            @CommonTools.GetSlimeWebCoreDeveloper()
        </dd>
        <dt class="col-sm-3">
           Copyright:
        </dt>
        <dd class="col-sm-9">
            @CommonTools.GetSlimeWebCoreCopyright()
        </dd>
        <dt class="col-sm-3">
            Source Code Repository:
        </dt>
        <dd class="col-sm-9">
            <a href="https://github.com/angaratosurion/SlimeWeb" target="_blank">SlimeWeb GitHub</a>
        </dd>
        <dt class="col-sm-3">
            Last Modified UTC :
        </dt>
        <dd class="col-sm-9">
            @CommonTools.GetSlimeWebCoreLastModifiedDateUTC()
        </dd>
        </dd>
        <dt class="col-sm-3">
            MD5 hash :
        </dt>
        <dd class="col-sm-9">
            @CommonTools.GetSlimeWebCoreMD5Hash()
        </dd>
    </dl>

    <hr />
    <h2>Extensions </h2>
    @{
        if (AppSettingsManager.GetEnableExtensionsExtCoreSetting() != false &&
        AppSettingsManager.GetEnableExtensionsSlimeWebSetting() == false)
        {
        List<IExtension> extensions= SlimePluginManager.GetSlimeWebExtCoreExtensionInfo();
        if (extensions != null) { 

        foreach (var ext in extensions)
        {
            <dl class="row">
                <dt class="col-sm-3">
                    Name:
                </dt>
                <dd class="col-sm-9">
                    @ext.Name
                </dd>
                <dt class="col-sm-3">
                   Version:
                </dt>
                <dd class="col-sm-9">
                    @ext.Version
                </dd>
                <dt class="col-sm-3">
                    Description :
                </dt>
                <dd class="col-sm-9">
                    @ext.Description
                </dd>
                <dt class="col-sm-3">
                    Authors:
                </dt>
                <dd class="col-sm-9">
                    @ext.Authors
                </dd>
                <dt class="col-sm-3">
                    Source Code Repository:
                </dt>
                <dd class="col-sm-9">
                    <a href="@ext.Url" target="_blank">@ext.Url</a>
                </dd>
                
             
                    </dl>
                }
            }
        }
        else if (AppSettingsManager.GetEnableExtensionsExtCoreSetting() == false &&
        AppSettingsManager.GetEnableExtensionsSlimeWebSetting() != false)
        {
            List<SlimeWeb.Core.SDK.Interfaces.IExtension> extensions = SlimePluginManager.GetSlimeWebSDKExtensionInfo();
            if (extensions != null)
            {

                foreach (var ext in extensions)
                {
                    <dl class="row">
                        <dt class="col-sm-3">
                            Name:
                        </dt>
                        <dd class="col-sm-9">
                            @ext.Name
                        </dd>
                        <dt class="col-sm-3">
                            Version:
                        </dt>
                        <dd class="col-sm-9">
                            @ext.Version
                        </dd>
                        <dt class="col-sm-3">
                            Description :
                        </dt>
                        <dd class="col-sm-9">
                            @ext.Description
                        </dd>
                        <dt class="col-sm-3">
                            Authors:
                        </dt>
                        <dd class="col-sm-9">
                            @ext.Authors
                        </dd>
                        <dt class="col-sm-3">
                            Source Code Repository:
                        </dt>
                        <dd class="col-sm-9">
                            <a href="@ext.Url" target="_blank">@ext.Url</a>
                        </dd>


                    </dl>
                }
            }
            
        }

}


</div>
