@model SlimeWeb.Core.Data.ViewModels.ViewBlog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Administrator.DisplayName)
        </dd>
       
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Name">Edit</a> |*@
    <a asp-controller="BlogAdmin" asp-action="Index" asp-route-id="@Model.Name">Blog Administration</a>|
    <a asp-controller="BlogMods" asp-action="Create" asp-route-id="@Model.Name">ApplyAs Moderator</a>|
    <a asp-action="Index">Back to List</a>
</div>
