@model IEnumerable<SlimeWeb.Core.Data.ViewModels.ViewBlog>

@{
    ViewData["Title"] = "Blogs";
}

<h1>Blogs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.Name)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.LastUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th> *@
           @*  <th>
                @Html.DisplayNameFor(model => model.Administrator)
            </th> *@
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            @* <td>
               <a asp-controller="Posts" asp-action="Index" asp-route-id="@item.Name">@Html.DisplayFor(modelItem => item.Name)</a>
            </td> *@
            <td>
                  @if ( SlimeWeb.Core.Managers.AppSettingsManager.GetEnablePagination())
                    {
                          <a asp-controller="Posts"
                              asp-action="IndexPaged"
                              asp-route-id="@item.Name"  
                              asp-route-page="0">@Html.DisplayFor(modelItem => item.Title) 
                               </a>
                    }
                    else
                    {
                    <a asp-controller="Posts" 
                    asp-action="Index" 
                    asp-route-id="@item.Name">@Html.DisplayFor(modelItem => item.Title)</a>
                    }
                    <br />
                    @Html.DisplayNameFor(model => model.Administrator) :
                    @Html.DisplayFor(modelItem => item.Administrator.DisplayName)
               @*  @Html.DisplayFor(modelItem => item.Title) *@
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td> *@
            
            @* <td>
                    
                    @Html.DisplayFor(modelItem => item.Administrator.DisplayName)
            </td> *@
           
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Name">Edit</a>|*@
                <a asp-controller="BlogAdmin" asp-action="Index" asp-route-id="@item.Name">Blog Administration</a>|
                <a asp-action="Details" asp-route-id="@item.Name">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Name">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
