@model SlimeWeb.Core.Data.ViewModels.ViewSlimeWebPage
@using SlimeWeb.Core.Managers
@using SlimeWeb.Core.Managers.Markups

@{
    ViewData["Title"] = "Create";
    var cmsengine = AppSettingsManager.GetAppWideCMSEngine();
}
@*@if (cmsengine != enumMarkupEngine.QUIL.ToString())
{
    await Html.RenderPartialAsync("PageCreateandEditPostJavaScriptPart_Partial");
}*@


<h1>Create</h1>

<h4>Page</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="@Model.Name" readonly="readonly" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Published" class="control-label"></label>
                <input asp-for="Published" class="form-control"  value="@DateTime.Now" />
                <span asp-validation-for="Published" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="content" class="control-label">  </label>

                @*<input asp-for="content" class="form-control" id="content" name="content" />*@
                @if (cmsengine == enumMarkupEngine.QUIL.ToString())
                {
                    <div id="scrolling-container">
                        <div class="form-group" id="editor" name="editor" > </div>
                        </div>
                        
                    
                }

                <textarea asp-for="content" class="form-control" id="content" name="content" hidden="hidden">
                    </textarea>

              @*  @Html.Partial("CreateandEditPostJavaScriptPart_Partial")*@

                <span asp-validation-for="content" class="text-danger"></span>
            </div>
            
            @*<div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
            *@
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" value="@User.Identity.Name" readonly="readonly" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 
@if (cmsengine == enumMarkupEngine.QUIL.ToString())
{
   await Html.RenderPartialAsync("PageCreateandEditPostJavaScriptPart_Partial");
}

<div>
    <a asp-action="Index" asp-route-id="@Context.Request.RouteValues["id"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


