@model IEnumerable<SlimeWeb.Core.Data.ViewModels.ViewSlimeWebPage>

@{
    ViewData["Title"] = "Pages";
}

<h1>Pages</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.content)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.RowVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.engine)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Pages" asp-action="Details" asp-route-Name="@item.Name">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Published)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.content)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Author.DisplayName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.RowVersion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.engine)
                </td>*@
                <td>
                    <a asp-controller="Pages" asp-action="Edit" asp-route-Name="@item.Name">Edit</a> |
                    <a asp-controller="Pages" asp-action="Details" asp-route-Name="@item.Name">Details</a> |
                    <a asp-controller="Pages" asp-action="Delete" asp-route-Name="@item.Name"  >Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
