@using SlimeWeb.Core; 
@using SlimeWeb.Core.Data.NonDataModels.Navigation
@using SlimeWeb.Core.Tools
@using SlimeWeb.Core.Managers
@{
    List<SlimeWebMenu> topMenus =  NavigationManager.GetTopMenu();
    <ul class="navbar-nav flex-grow-1">
        @foreach (SlimeWebMenu menuitem in topMenus)
        {
                                <li class="nav-item">
                @if (menuitem.MenuItems != null)
                {
                    <ul class="dropdown-menu flex-grow-1" aria-labelledby="dropdownMenuButton">
                        
                    
                     @foreach(SlimeWebMenu submenuitem in menuitem.MenuItems)
                    {
                        <a class="dropdown-item" asp-area="" asp-controller="@submenuitem.ControllerName"
               asp-action="@submenuitem.ActionName">@submenuitem.Title</a>
                        
                    }
                    </ul>
                    
                    
                }
                else
                {

                    <a class="nav-link text-dark" asp-area="" asp-controller="@menuitem.ControllerName" asp-action="@menuitem.ActionName">@menuitem.Title</a>
                }</li>
        }
    </ul>
}