<!DOCTYPE html>
@using SlimeWeb.Core; 
@using SlimeWeb.Core.Data.NonDataModels.Navigation
@using SlimeWeb.Core.Tools
@using SlimeWeb.Core.Managers
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @{
        GeneralSettingsManager generalSettingsManager = new GeneralSettingsManager();
        String websitename; ;
        if( generalSettingsManager.Exists())
        {
              websitename = generalSettingsManager.Details().ToModel().WebSiteName;
            if(!String.IsNullOrEmpty(websitename))
            {
                <title>@ViewData["Title"] - @websitename</title>
            }
            else
            {
                <title>@ViewData["Title"] - SlimeWeb</title>
               // websitename = "SlimeWeb";
               
            }
            ViewBag.WebSiteName = generalSettingsManager.Details().ToModel().WebSiteName;
            <title>@ViewData["Title"] - @ViewBag.WebSiteName</title>
            
        }
    }
    
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
   
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@ViewBag.WebSiteName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Adminstration</a>
                        </li>
                        <li class="nav-item">
                            @{
                                List<SlimeWebMenu> topMenus = NavigationManager.GetTopMenu();
                               
                                    @foreach (SlimeWebMenu menuitem in topMenus)
                                    {
                                         
                                            @if (menuitem.MenuItems != null)
                                            {
                                               <div class="dropdown show">
                                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                               @menuitem.Title
                                            </a>
                                               <div class="dropdown-menu  aria-labelledby="dropdownMenuButton">
                                                   
                                                    @foreach (SlimeWebMenu submenuitem in menuitem.MenuItems)
                                                    {
                                                        if(submenuitem.Path==null)
                                                        {
                                                        <a class="dropdown-item" asp-area="" asp-controller="@submenuitem.ControllerName"
                                                          asp-action="@submenuitem.ActionName">@submenuitem.Title</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="dropdown-item" 
                                                        href="~/@submenuitem.ControllerName/@submenuitem.ActionName/@submenuitem.Path" >
                                                            @submenuitem.Title
                                                        </a>

                                                    }

                                                    }
                                                 </div>
                                                 </div>


                                            }
                                            else
                                            {
                                    <li class="nav-item">
                                        @if(menuitem.Path==null)
                                        {
                                                <a class="nav-link text-dark" asp-area="" asp-controller="@menuitem.ControllerName"
                                                asp-action="@menuitem.ActionName">@menuitem.Title</a>
                                        }
                                        else
                                        {
                                              <a class="dropdown-item" 
                                                        href="~/@menuitem.ControllerName/@menuitem.ActionName/@menuitem.Path" >
                                                            @menuitem.Title
                                                        </a>
                                        }
                                            </li>
                                            }
                                        
                                    }
                               
                            }
                            </li>
                            </ul>
                           
                    
                  
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
            &copy; @DateTime.Now.Year - SlimeWeb - @CommonTools.GetSlimeWebVersion() ( SlimeWeb.Core Version: @CommonTools.GetSlimeWebCoreVersion() )
                &nbsp;&nbsp;  <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> &nbsp;&nbsp;
           
                <ul class="navbar-nav flex-grow-1">
                @{
                    List<SlimeWebMenu> botomMenu = NavigationManager.GetBottomMenu();
                    foreach(SlimeWebMenu menu in botomMenu)
                    {


                        <li class="nav-item">
                            @if (menu.Path == null)
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="@menu.ControllerName" 
                                asp-action="@menu.ActionName">@menu.Title</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark"
                       href="~/@menu.ControllerName/@menu.ActionName/@menu.Path" >
                                                            @menu.Title
                                                        </a>
                            }
                        </li>
                    }

                    }


            </ul>
            </div>


                   
                    
                        
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
