@model SlimeWeb.Core.Data.NonDataModels.ExifModel

@{
    //ViewData["Title"] = "Details";
}

@*<h1>Details</h1>

*@
<div>
    <h4>Exif Data</h4>
    <hr />
 
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTaken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTaken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageWidth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageWidth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.X_resolution)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.X_resolution)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Y_resolution)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Y_resolution)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resolution_Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resolution_Unit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.F_number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.F_number)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GPSDateStamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GPSDateStamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aperture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aperture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brightness)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brightness)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exposure_Program)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exposure_Program)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exposure_Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exposure_Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GPSAltitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GPSAltitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GPSLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GPSLongitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GPSLatitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GPSLatitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orientation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orientation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orientation_Rotation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Orientation_Rotation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YCbCr_Positioning)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YCbCr_Positioning)
        </dd>
      
       
       
       
    </dl>
</div>

