@model SlimeWeb.Core.Data.ViewModels.ViewBlogMods

@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>BlogMods</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Moderator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Moderator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Blog.Name" asp-route-moderator="@Model.ModeratorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
